body {
    margin: 0px;
}
h1 {
    margin: 0px;
    margin-top: 5px;
    margin-left:20px; 
}
h3 {
    margin-top: 0px;
    color: #87ceeb;
}
.head {
    background-color:#4990E2;
    display: inline-flex;
    color: #FFFFFF;
    width: 100%;
  }
  .head a {
    float: right;
    margin-left: 100px;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-decoration: none;
  }
  
  .head a:hover {
    background-color: #ddd;
    color: black;
  }

.iframe {
    float: left;
    margin-left: 100px;
    margin-top: 30px;
}
.form {
    float: right; 
    margin-right: 200px;
    margin-top: 30px;
}

input[type=text],input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}
/* 
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
} */

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}